{% extends 'base.html.twig' %}
{% block body %}
    <h1>Forcast for {{city}}, {{countryCode}}</h1>
    {% for forcast  in forcasts %}
      <h2>{{forcast.date | date('Y-m-d')}}</h2>

      <dl>
        <dt>Temperature</dt>
        <dd>{{ forcast.temperatureCelsius}}</dd>
        <dt>hunsity</dt>
        <dd>{{ forcast.humidity}}</dd>
        <dt>cloudiness</dt>
        <dd>{{ forcast.cloudiness}}</dd>
        <dt>pressure</dt>
        <dd>{{forcast.pressure | upper}}</dd>
        <dt>icon</dt>
        <dd>{{forcast.icon | upper}}</dd>

      </dl>

    {% endfor %}
{% endblock %}  